### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# total number of players
numberofplayers = purchase_data_df["SN"].nunique()
numberofplayers

576

In [3]:
# Create a dataframe
num_players_df = pd.DataFrame({"Total Players":[numberofplayers]})
num_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Number of unique items
#unique_items = purchase_data_pd["Item Name"].value_counts()
#unique_items
unique_items =len(purchase_data_df["Item ID"].unique())
unique_items

183

In [5]:
# Average purchase price
average = purchase_data_df["Price"].mean()
average

3.050987179487176

In [6]:
# Total number of Purchases
total = purchase_data_df["Purchase ID"].count()
total

780

In [7]:
# Total revenue
totalrevenue = purchase_data_df["Price"].sum()
totalrevenue

2379.77

In [8]:
# Summary data frame
summary_table_df = pd.DataFrame({"Number of unique items":unique_items, 
                                  "Average Price":average,
                                   "Number of Purchases":total,
                                   "Total Revenue":[totalrevenue]})
                          
summary_table_df

   Number of unique items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Count of players
gender_states = purchase_data_df.groupby("Gender")
total_count_gender = gender_states.nunique()["SN"]
total_count_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [10]:
# Percentage of players
percentage_of_player = total_count_gender/numberofplayers*100
percentage_of_player

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [11]:
# Gender Demographics Data Frame
gender_demo_df = pd.DataFrame({"Total Count":total_count_gender, "Percentage of Players" : percentage_of_player})
gender_demo_df
gender_demo_df.sort_values(["Total Count"], ascending=False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# Count of Male players
Male_players = (purchase_data_df["Gender"] == "Male").value_counts()
Male_players[True]

652

In [13]:
# Count of Female players
Female_players = (purchase_data_df["Gender"] == "Female").value_counts()
Female_players[True]

113

In [14]:
# Count of Non Disclosed/other
nondisclosed_players = (purchase_data_df["Gender"] == "Other / Non-Disclosed").value_counts()
nondisclosed_players[True]

15

In [15]:
#  Purchase count by gender
purchase_count= purchase_data_df.groupby(["Gender"]).Price.count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [16]:
# Average by gender
average_gender= purchase_data_df.groupby(["Gender"]).Price.mean()
average_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [17]:
# Total Purchase
total_purchase = purchase_data_df.groupby(["Gender"]).Price.sum()
total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [18]:
#Average total purchase per person
average_per_person = total_purchase/total_count_gender
average_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [19]:
# Purchasing Analysis dataframe
purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,   
                                       "Average Purchase Price":average_gender,  
                                       "Total Purchase Value":total_purchase,   
                                       "Average Total purchase per Person":average_per_person})
purchasing_analysis_df
purchasing_analysis_df.sort_values(["Gender"], ascending=False)
purchasing_analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                                      "Total Purchase Value":"${:,.2f}",
                                       "Average Total purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
print(purchase_data_df["Age"].max())
print(purchase_data_df["Age"].min())

45
7

In [21]:
# Create bins
bins = [0,9,14,19,24,29,34,39,100]
# Create labels
group_labels = ["<10", "10 to 14","15 to 19","20 to 24","25 to 29","30 to 34","35 to 39","40+"]

In [22]:

purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],bins, labels=group_labels)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20 to 24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20 to 24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20 to 24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20 to 24

In [23]:
age_group = purchase_data_df.groupby("Age Group")

In [24]:
# total players by age category
total_count_age = age_group["SN"].nunique()
total_count_age

Age Group
<10          17
10 to 14     22
15 to 19    107
20 to 24    258
25 to 29     77
30 to 34     52
35 to 39     31
40+          12
Name: SN, dtype: int64

In [25]:
# Percentage by age category
percentage_age = (total_count_age/numberofplayers)*100
percentage_age

Age Group
<10          2.951389
10 to 14     3.819444
15 to 19    18.576389
20 to 24    44.791667
25 to 29    13.368056
30 to 34     9.027778
35 to 39     5.381944
40+          2.083333
Name: SN, dtype: float64

In [26]:
# Age demographics dataframe
age_demographics_df = pd.DataFrame({"Total Count":total_count_age,
                                    "Percentage of Players":percentage_age})
age_demographics_df
age_demographics_df.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
# Purchase count by age
purchase_count_age = age_group["Purchase ID"].count()
purchase_count_age

Age Group
<10          23
10 to 14     28
15 to 19    136
20 to 24    365
25 to 29    101
30 to 34     73
35 to 39     41
40+          13
Name: Purchase ID, dtype: int64

In [28]:
# Average purchase per price by age
ave_purchase_price_age = age_group["Price"].mean()
ave_purchase_price_age

Age Group
<10         3.353478
10 to 14    2.956429
15 to 19    3.035956
20 to 24    3.052219
25 to 29    2.900990
30 to 34    2.931507
35 to 39    3.601707
40+         2.941538
Name: Price, dtype: float64

In [29]:
# total purchase value by age group
total_purchase_value = age_group["Price"].sum() 
total_purchase_value

Age Group
<10           77.13
10 to 14      82.78
15 to 19     412.89
20 to 24    1114.06
25 to 29     293.00
30 to 34     214.00
35 to 39     147.67
40+           38.24
Name: Price, dtype: float64

In [30]:
# average purchase per person
avg_purchase_per_person = total_purchase_value/total_count_age
avg_purchase_per_person

Age Group
<10         4.537059
10 to 14    3.762727
15 to 19    3.858785
20 to 24    4.318062
25 to 29    3.805195
30 to 34    4.115385
35 to 39    4.763548
40+         3.186667
dtype: float64

In [31]:
# Purchasing Analysis dataframe
purchasing_analysis = pd.DataFrame({"Purchase Count":purchase_count_age,
                                     "Average Purchase Price":ave_purchase_price_age,
                                     "Total Purchase Value":total_purchase_value,
                                      "Avg Total Purchase Per Person":avg_purchase_per_person
                                   })
purchasing_analysis
purchasing_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                                      "Total Purchase Value":"${:,.2f}",
                                       "Avg Total Purchase Per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
# Purchase count by spenders
spenders = purchase_data_df.groupby("SN")
spenders
purchase_count_spenders = spenders["Purchase ID"].count()
purchase_count_spenders

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [33]:
# Average purchase price by spenders
average_purchase_price = spenders["Price"].mean()
average_purchase_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [34]:
# total purchase by spenders
total_purchase = spenders["Price"].sum()
total_purchase

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [35]:
# spenders dataframe
spenders_df = pd.DataFrame({"Purchase Count":purchase_count_spenders,
                             "Average Purchase Price":average_purchase_price,
                             "Total Purchase Value":total_purchase})
spenders_df
format_spenders = spenders_df.sort_values(["Total Purchase Value"],ascending=False).head()
format_spenders.style.format({"Average Purchase Price":"${:,.2f}",
                                      "Total Purchase Value":"${:,.2f}",
                            })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
# Retrive the item id, item name,item price.
item = purchase_data_df[["Item ID","Item Name","Price"]]
item

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778      101                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [37]:
#Group by item id and item name
item_group = item.groupby(["Item ID","Item Name"])
item_group
# Count the num of items
purchase_count_item = item_group["Price"].count()
purchase_count_item

Item ID  Item Name
0        Splinter                           4
1        Crucifer                           3
2        Verdict                            6
3        Phantomlight                       6
4        Bloodlord's Fetish                 5
                                           ..
179      Wolf, Promise of the Moonwalker    6
180      Stormcaller                        1
181      Reaper's Toll                      5
182      Toothpick                          3
183      Dragon's Greatsword                3
Name: Price, Length: 183, dtype: int64

In [38]:
#Purchase value per item
purchase_value_item = item_group["Price"].sum()
purchase_value_item

Item ID  Item Name
0        Splinter                            5.12
1        Crucifer                            9.78
2        Verdict                            14.88
3        Phantomlight                       14.94
4        Bloodlord's Fetish                  8.50
                                            ...
179      Wolf, Promise of the Moonwalker    26.88
180      Stormcaller                         3.36
181      Reaper's Toll                       8.30
182      Toothpick                          12.09
183      Dragon's Greatsword                 3.27
Name: Price, Length: 183, dtype: float64

In [39]:
#  item price
item_price = purchase_value_item/purchase_count_item
item_price

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [40]:
# most popular item data frame
most_popular_item = pd.DataFrame({"Purchase Count":purchase_count_item,
                                  "Item Price":item_price,
                                  "Total Purchase Value":purchase_value_item})
most_popular_item
most_popular_format = most_popular_item.sort_values(["Purchase Count"],ascending=False).head()
most_popular_format
most_popular_format.style.format({"Item Price":"${:,.2f}",
                                   "Total Purchase Value":"${:,.2f}"
                                 })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [41]:
# most profitable items data frame
most_popular_format = most_popular_item.sort_values(["Purchase Count"],ascending=False).head()
most_popular_format
most_popular_format.style.format({"Item Price":"${:,.2f}",
                                   "Total Purchase Value":"${:,.2f}"
                                 })